@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222222;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
}
.pw-container {
  border-radius: 10px;
  background-color: #151515;
  min-width: 400px;
}
.pw-header {
  padding: 1rem;
}
.pw {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  position: relative;
  border-radius: 10px;
  background-color: #191919;
  font-size: 1.5rem;
  padding: 1rem;
}
.pw button {
  cursor: pointer;
  background-color: #111111;
  color: white;
  border: none;
  border-radius: 6px;
  font-family: inherit;
  padding: 0.25rem 0.5rem;
  position: absolute;
  bottom: 0;
  right: 10px;
  transform: translate(0, 50%);
  transition: opacity 0.3s ease;
  opacity: 0;
}
.pw:hover button {
  opacity: 1;
}

.pw-body {
  padding: 0 1rem 1rem;
}
.form-control {
  color: #eee;
  display: flex;
  justify-content: space-between;
  margin: 0.75rem 0;
}
.generate {
  display: block;
  cursor: pointer;
  background-color: #111111;
  color: white;
  font-weight: bold;
  font-family: inherit;
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  width: 100%;
  transition: 0.4s ease;
}
.generate:hover {
  background-color: #232323;
}
